/*******************************************************/
/*  IMPORTS                                            */
/*******************************************************/
@import "../../../assets/css/modules/table.css";
@import "../../../assets/css/modules/card.css";
/*******************************************************/
:root {
    --qr-code-size: 175px;
}
/************************************************/
img {
    width: var(--qr-code-size);
    height: var(--qr-code-size);
}
thead {
    background: var(--table-head-color);
    color: var(--table-head-text-hover-color);
}
thead th {
    font-weight: 800;
}
th {
    font-weight: 400;
    vertical-align: middle !important;
}
#table-panel,
#table-status {
    display: none;
}
/************************************************/
@media screen and (max-width: 992px) {

    .row {
        display: block !important;
    }

    img {
        width: 80vw;
        height: 80vw;
    }

}