/********************************************************/
/*  IMPORTS                                             */
/********************************************************/
@import "../../../../../../assets/css/modules/table.css";
@import "../../../../../../assets/css/modules/card.css";
/*********************************************************/
tr:hover a,
tr:hover .status {
    color: white !important;
}