/********************************************************/
/*  IMPORTS                                             */
/********************************************************/
@import "../../../../../../assets/css/modules/table.css";
@import "../../../../../../assets/css/modules/modal.css";
@import "../../../../../../assets/css/modules/checkbox.css";
@import "../../../../../../assets/css/modules/card.css";
/********************************************************/
#TAB tbody tr th {
    font-weight: normal;
}
.file-title {
    margin-right: unset !important;
    border-left: 1px solid lightgray;
    border-bottom-left-radius: .25rem;
}

.dynamic-buttons .btn {
    cursor: pointer;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dynamic-buttons .form-control {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}