/********************************************************/
/*  IMPORTS                                             */
/********************************************************/
@import "../../../../../assets/css/modules/checkbox.css";
@import "../../../../../assets/css/modules/table.css";
/********************************************************/
.breadcrumb {
    display: none !important;
}
#outputContainer {
    padding: 1rem;
    border: 1px solid lightgray;
    border-radius: var(--checkbox-radius) !important;
}
textarea {
    font-weight: 600 !important;
    font-size: 1rem !important;
}