/************************************************************/
/*  THIS STYLESHEET REQUIRE card.css                        */
/************************************************************/
/************************************************************/
/*  DESKTOP VIEW                                            */
/************************************************************/
@media screen and (min-width: 992px){ /*desktop screen*/

    #password-form-container {
        padding: 0 var(--default-padding);
    }

    #currentPwd {
        width: calc(50% - var(--default-padding));
    }
    #newPwd {
        margin-right: var(--default-padding);
    }
}
/************************************************************/
/*  MOBILE VIEW                                             */
/************************************************************/
@media screen and (max-width: 992px) { /* smartphone screen */

    #password-form-container {
        margin: 0;
        display: inline;
    }

}